.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
    pointer-events: none;
}

.attack-graticule {
    fill: none;
    stroke: red;
}

.date.label {
    font: 500 85px "Helvetica Neue";
    fill: #ddd;
  }

.attack-circle
{
    fill: red;
    opacity: 0.8;
}

.attack-circle.hidden
{
    visibility: hidden;
}